# General modules
Django==5.2.9
pillow
djangorestframework
djangorestframework-simplejwt


# Third party modules
markdown       # Markdown support for the browsable API.
django-filter
drf-yasg
drf-yasg[validation]
drf_spectacular
Faker          #fake data generation.



# Email backends
django-mail-templated