{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					About Us
				</h1>
				<p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
					<a href="about.html"> About Us</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about-info Area -->
<section class="about-info-area section-gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 info-left">
				<img class="img-fluid" src="{% static 'img/default.jpg' %}" alt="">
			</div>
			<div class="col-lg-6 info-right">
				<h6>About Us</h6>
				<h1>Who We Are</h1>
				<p>
					BuzzBlog is an independent digital newsroom focused on clear, verified reporting.
					We cover local stories, campus life, and emerging tech with the goal of keeping our
					community informed and engaged. Our editors and contributors work to publish fast,
					accurate, and fair coverage every day.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End about-info Area -->

<!-- Start leadership Area -->
<section class="other-issue-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Leadership Team</h1>
					<p>Meet the editors and builders guiding BuzzBlog?s newsroom.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/default.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Editor-in-Chief</h4>
					</a>
					<p>
						Sets editorial direction, ensures accuracy, and leads our daily coverage strategy.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/default.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Managing Editor</h4>
					</a>
					<p>
						Coordinates the newsroom schedule, assigns stories, and drives on-time publishing.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/default.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Investigations Lead</h4>
					</a>
					<p>
						Oversees long-form reporting, fact-checking, and sensitive story verification.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/default.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Tech &amp; Product Lead</h4>
					</a>
					<p>
						Builds tools for journalists, improves UX, and powers data-driven storytelling.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End leadership Area -->
{% endblock %}
