{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="top-stories-config" data-post-list-url="{% url 'blog:api-v1:post-list' %}"
	data-blog-home-url="{% url 'website:blog-home' %}" data-category-url="{% url 'blog:api-v1:category-list' %}"
	data-default-image="{% static 'img/default.jpg' %}" style="display:none;"></div>
<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white">truth about everything!</h6>
				<h1 class="text-white">PulseWire News</h1>
				<p class="text-white">
					A fast, credible newsroom that combines local reporting with global coverage, delivering clear
					updates, expert analysis, and human‑centered stories.
				</p>

			</div>

		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Top Stories</h1>
					<p>Editor picks and most-read headlines from across the newsroom.</p>
				</div>
			</div>
		</div>
		<div class="row" id="top-stories-list">
			<div class="col-12 text-center" id="top-stories-loading">Loading top stories...</div>
		</div>
	</div>
</section>
<!-- End popular-destination Area -->


<!-- Start other-issue Area -->
<section class="other-issue-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Topics and Categories!</h1>
					<p>Explore the most popular categories from our newsroom right now.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center" id="home-category-loading">Loading categories...</div>
		</div>
		<div class="row" id="home-category-list"></div>
		<template id="home-category-template">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid category-image" src="" alt="">
					</div>
					<a href="#" class="category-link">
						<h4 class="category-name"></h4>
					</a>
					<p class="category-description"></p>
				</div>
			</div>
		</template>
	</div>
</section>
<!-- End other-issue Area -->





<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left">
				<h1>
					Did not find your Package? <br>
					Feel free to ask us. <br>
					Weƒ?~ll make it for you
				</h1>
				<p>
					inappropriate behavior is often laughed off as ƒ?oboys will be boys,ƒ?? women face higher conduct
					standards especially in the workplace. Thatƒ?Ts why itƒ?Ts crucial that, as women, our behavior on the
					job is beyond reproach. inappropriate behavior is often laughed.
				</p>
				<a href="#" class="primary-btn text-uppercase">request custom price</a>
			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding">
				<img class="img-fluid" src="{% static 'img/default.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End home-about Area -->


<!-- Start blog Area -->
<section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Latest from Our Blog</h1>
					<p>You want to know about our brilliant writers?Check these posts out!
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-recent-blog-carusel" id="latest-posts-carousel">
				<div class="col-12 text-center" id="latest-posts-loading">Loading latest posts...</div>
			</div>
		</div>
		<template id="latest-post-template">
			<div class="single-recent-blog-post item">
				<div class="thumb">
					<img class="img-fluid latest-post-image" src="" alt="">
				</div>
				<div class="details">
					<div class="tags latest-post-tags">
						<ul class="latest-post-categories"></ul>
					</div>
					<a class="latest-post-link" href="#">
						<h4 class="title latest-post-title"></h4>
					</a>
					<p class="latest-post-excerpt"></p>
					<h6 class="date latest-post-date"></h6>
				</div>
			</div>
		</template>
	</div>
</section>
<!-- End recent-blog Area -->
<script src="{% static 'js/website/index.js' %}"></script>
{% endblock %}
