name: django test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Start services
        run: docker compose up -d --build

      - name: Run tests
        run: docker compose exec -T backend python manage.py test

      - name: Shutdown
        if: always()
        run: docker compose down -v

