{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/blogApi/blog-home.css' %}">
<div id="blog-home-config"
	data-post-list-url="{% url 'blog:api-v1:post-list' %}"
	data-blog-home-url="{% url 'website:blog-home' %}"
	data-default-image="{% static 'img/blog/default.jpg' %}"
	data-category-url="{% url 'blog:api-v1:category-list' %}"
	style="display:none;"></div>

<!-- start banner Area -->
<section class="banner-area relative blog-home-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content blog-header-content col-lg-12">
				<h1 class="text-white">
					Dude You’re Getting
					a Telescope
				</h1>
				<p class="text-white">
					There is a moment in the life of any aspiring astronomer that it is time to buy that first
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<div id="post-react-meta" data-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
	data-verified="{% if request.user.is_authenticated and request.user.is_verified %}true{% else %}false{% endif %}"
	style="display:none;"></div>

<!-- Start top-category-widget Area -->
<section class="top-category-widget-area pt-90 pb-90 ">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="#" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto"
									src="{% static 'img/blog/cat-widget1.jpg' %}" alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase">Social life</h4>
								<span></span>
								<p>Enjoy your social life together</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="#" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto"
									src="{% static 'img/blog/cat-widget2.jpg' %}" alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase">Politics</h4>
								<span></span>
								<p>Be a part of politics</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="#" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto"
									src="{% static 'img/blog/cat-widget3.jpg' %}" alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase">Food</h4>
								<span></span>
								<p>Let the food be finished</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End top-category-widget Area -->

<!-- Start post-content Area -->
<section class="post-content-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div id="posts-list"></div>

				<template id="post-template">
					<div class="single-post row">
						<div class="col-lg-3 col-md-3 meta-details">
							<ul class="tags post-categories"></ul>
							<div class="user-details row">
								<p class="user-name col-lg-12 col-md-12 col-6">
									<a href="#" class="post-author"></a>
									<span class="lnr lnr-user"></span>
								</p>
								<p class="date col-lg-12 col-md-12 col-6">
									<span class="post-date"></span>
									<span class="lnr lnr-calendar-full"></span>
								</p>
								<p class="view col-lg-12 col-md-12 col-6">
									<span class="post-views"></span>
									<span class="lnr lnr-eye"></span>
								</p>
								<p class="comments col-lg-12 col-md-12 col-6">
									<span class="post-comments"></span>
									<span class="lnr lnr-bubble"></span>
								</p>
								<p class="reactions col-lg-12 col-md-12 col-6">
									<span class="post-reactions">
										<a href="#" class="post-reaction post-like" data-value="1"><i
												class="fa fa-thumbs-up"></i>
											<span class="post-like-count">0</span></a>
										<a href="#" class="post-reaction post-dislike" data-value="-1"><i
												class="fa fa-thumbs-down"></i>
											<span class="post-dislike-count">0</span></a>
									</span>
									<div class="post-reaction-message" style="display:none;"></div>
								</p>
							</div>
						</div>
						<div class="col-lg-9 col-md-9">
							<div class="feature-img">
								<img class="img-fluid post-image" src="" alt="">
							</div>
							<a class="posts-title post-link" href="#">
								<h3 class="post-title"></h3>
							</a>
							<p class="excert post-excerpt"></p>
							<a href="#" class="primary-btn post-link">View More</a>
						</div>
					</div>
				</template>


				<nav class="blog-pagination justify-content-center d-flex">
					<ul class="pagination" id="posts-pagination"></ul>
				</nav>
				<script src="{% static 'js/blogApi/blog-home.js' %}"></script>
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget create-post-widget">
						{% if request.user.is_authenticated %}
						{% if not request.user.is_verified %}
						<p class="comment-verify-note" style="text-align:left;">Verify your email to create posts.</p>
						{% endif %}
						<button type="button" id="create-post-button" class="primary-btn text-uppercase">Create
							Post</button>
						<div id="create-post-modal" class="post-modal">
							<div class="post-modal-card">
								<h5>Create Post</h5>
								<form id="create-post-form" enctype="multipart/form-data">
									{% csrf_token %}
									<input type="text" name="title" placeholder="Title" required>
									<textarea name="content" placeholder="Content" rows="4" required></textarea>
									<textarea name="extra_content" placeholder="Extra content (optional)"
										rows="3"></textarea>
									{% if request.user.is_staff %}
									<div class="post-modal-row">
										<label><input type="checkbox" name="status" checked> Published</label>
									</div>
									{% endif %}
									<div class="post-modal-row">
										<label>Categories</label>
										<div id="create-post-categories" class="post-modal-categories"></div>
									</div>
									<div class="post-modal-row">
										<label>Image</label>
										<input type="file" name="image" accept="image/*">
									</div>
									<div class="post-modal-row">
										<label>Image 2</label>
										<input type="file" name="image_2" accept="image/*">
									</div>
									<div class="post-modal-row">
										<label>Image 3</label>
										<input type="file" name="image_3" accept="image/*">
									</div>
									<div id="create-post-message" class="post-modal-message" style="display:none;">
									</div>
									<div class="post-modal-actions">
										<button type="button" id="create-post-cancel" class="primary-btn text-uppercase"
											style="background:#ccc;color:#222;">Cancel</button>
										<button type="submit" class="primary-btn text-uppercase">Save</button>
									</div>
								</form>
							</div>
						</div>
						{% else %}
						<a href="{% url 'login' %}">Login to create a post!</a>
						{% endif %}
					</div>
					<div class="single-sidebar-widget filter-widget">
						<h4 class="mb-10">Sort posts</h4>
						<form id="post-filter-form" action="{% url 'website:blog-home' %}" method="get">
							<select name="ordering" id="filter-ordering">
								<option value="">Sort by</option>
								<option value="-published_date">Newest</option>
								<option value="published_date">Oldest</option>
								<option value="-counted_view">Most viewed</option>
								<option value="counted_view">Least viewed</option>
							</select>
							<button type="submit" class="primary-btn text-uppercase" style="width:100%;">Apply</button>
						</form>
					</div>
					{% include 'blogApi/blog-search.html' %}
					{% include 'blogApi/blog-writer.html' %}

					{% include 'blogApi/blog-ads.html' %}

					{% include 'blogApi/blog-tags.html' %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->
{% endblock %}
